body{
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #18181a;
    color: white;
}
button.emotion-btn{
    margin: 10px;
    padding: 10px;
    background: #93f;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 12px;
    text-transform: uppercase;
}
button.emotion-btn:hover{
    background: #ff6666;;
}
button.emotion-btn:active{
    border: none;
}
#add-emotion{
    margin: 8px;
    padding: 8px;
    background: #ff6666;  
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 12px;
    text-transform: uppercase; 
    margin-top: 40px;
}
#add-emotion:hover{
    background: #93f;  
}
label{
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}
#emotion-input{
    font-size: 20px;
}
h1{
    color: #0f9; 
    font-size: 3em;
    padding-bottom: 40px;
}
.emotion-div{
    padding: 30px;
}

p{
    font-size: 16px; 
    text-transform: uppercase;
    padding: 16px;
}